body{
    background:url('https://img.wallpapersafari.com/img720/82/43/9yXtCd.jpg');
}
.registerform{
    width: 60%;
    position: absolute;
    top:20%;
    left:20%;
    margin :20px;
    text-align: center;
    background: url('https://png.pngtree.com/thumb_back/fh260/back_pic/03/72/94/8457b9a65caa197.jpg');
    
}
.question{
    font: italic;
}
input{
    padding: 12px;
    margin:10px;
}